<!--https://icons.getbootstrap.com/#install-->
<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title>
</head>
<!--Titulo-->
<div th:replace="~{base :: logo3}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Pesquisar Acordes')}"></div>
<body>
    <div class="container d-flex justify-content-center form_container form-border">
        <div class="row">
            <form>
                <div class="input-group mb-3">
                    <label class="form-label" for="pesquisarAcorde">Pesquisar Acorde</label>
                    <div class="input-group">
                        <input class="form-control" id="pesquisarAcorde" type="search" placeholder="Pesquisar">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-primary" type="button">Procurar</button>
                        </div>
                    </div>
                </div>
                <span class="space"></span>
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="[BANCO DE DADOS]" alt="Imagem de capa do card">
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="[BANCO DE DADOS]" alt="Imagem de capa do card">
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="[BANCO DE DADOS]" alt="Imagem de capa do card">
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="[BANCO DE DADOS]" alt="Imagem de capa do card">
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-center">
                <span><button class="btn btn-link text-light mt-3"><a onClick="history.back()" class="text-primary">Voltar</a></button></span>
            </div>
        </div>
    </div>
</body>
</html>

<!--https://www.youtube.com/watch?v=22VmM2OiftQ-->