<!--https://icons.getbootstrap.com/#install-->
<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title>
</head>
<!--Titulo-->
<div th:replace="~{base :: logo3}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Pesquisar Acordes')}"></div>
<body>
    <div class="container d-flex justify-content-center form_container form-border">
        <div class="row">
            <div th:replace="~{alertas :: chordNotFind}"></div>
            <form>
                <div class="input-group mb-3">
                    <label for="chord">Pesquise um acorde</label>
                    <div class="input-group">
                        <input type="search" th:value="${session.chord}" name="chord" id="chord" placeholder=" " class="form-control" onfocus="this.value='';" required="">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-primary" type="submit">Procurar</button>
                        </div>
                    </div>
                </div>
                <span class="space"></span>
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="[BANCO DE DADOS]" alt="Imagem de capa do card">
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="[BANCO DE DADOS]" alt="Imagem de capa do card">
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="[BANCO DE DADOS]" alt="Imagem de capa do card">
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="[BANCO DE DADOS]" alt="Imagem de capa do card">
                    </div>
                </div>
                <span class="space"></span>
            </form>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" type="reset" onClick="history.back()" href="/home">Voltar</a>
            </div>
        </div>
    </div>
</body>
</html>

<!--https://www.youtube.com/watch?v=22VmM2OiftQ-->