<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title></head>
<!--Titulo-->
<div th:replace="~{base :: logo3}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Consultar Tétrade')}"></div>
<body>
    <div class="container d-flex justify-content-center form_container form-border">
        <div class="row">
            <div class="col-sm-12">
                <form th:action="${tetrade}" method="get">
                    <div class="row">
                        <label for="chord">Informe um acorde</label>
                        <div class="col-sm-6 form-group">
                            <input type ="text" name="chord" id="chord" placeholder=" " class="form-control" required="">
                        </div>
                        <div class="col-sm-6 form-group">
                            <button class="btn btn-primary" type="submit">Gerar Tétrade</button>
                        </div>
                    </div>
                </form>
                <form th:action="${tetrade}" method="post">
                    <div class="form-group">
                        <label for="resultTetrad">Resultado</label>
                        <a id="resultTetrad" class="form-control" readonly th:text="${resultTetrad}"></a>
                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" type="reset" onClick="history.back()" href="/home">Voltar</a>
            </div>
        </div>
    </div>
</body>
</html>