<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title></head>
<!--Titulo-->
<div th:replace="~{base :: logo3}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Consultar Tétrade')}"></div>
<body>
    <div class="container d-flex justify-content-center form_container form-border">
        <div class="row">
            <form th:action="${tetrade}" method="get">
                <div class="col-sm-12">
                    <div class="row">
                        <label for="chord">Informe um acorde</label>
                        <div class="col-sm-6 form-group">
                            <input type ="text" name="chord" id="chord" placeholder=" " class="form-control" required="">
                        </div>
                        <div class="col-sm-6 form-group">
                            <button class="btn btn-primary" type="submit">Gerar Tétrade</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="resultTetrad">Resultado</label>
                        <input type ="text" name="resultTetrad" id="resultTetrad" placeholder=" " class="form-control">
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-center">
                <span><button class="btn btn-link text-light mt-3"><a onClick="history.back()" class="text-primary">Voltar</a></button></span>
            </div>
        </div>
    </div>
</body>
</html>