<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title></head>
<!--Titulo-->
<div th:replace="~{base :: logo3}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Consultar Transposição')}"></div>
<body>
    <div class="container d-flex justify-content-center form_container form-border">
        <div class="row">
            <form th:action="${transposicao}" method="get">
                <div class="alert alert-danger titulo alert-dismissible" role="alert" th:if="${errorsTransp}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <a class="btn-close" data-bs-dismiss="alert"></a>
                    Inválido!
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="chordNote">Informe um acorde/nota</label>
                            <input name="chordNote" id="chordNote" placeholder=" " class="form-control" required="">
                        </div>
                        <label for="semitone">Números de semitons</label>
                        <div class="col-sm-6 form-group">
                            <input name="semitone" id="semitone" placeholder=" " class="form-control" required="">
                        </div>
                        <div class="col-sm-6 form-group">
                            <button class="btn btn-primary" type="submit">Gerar Transposição</button>
                        </div>
                    </div>
                    <form th:action="${transposicao}" method="post">
                        <div class="form-group">
                            <label for="resultTransp">Resultado</label>
                            <a id="resultTransp" class="form-control" readonly th:text="${resultTransp}"></a>
                        </div>
                    </form>
                </div>
            </form>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" type="reset" onClick="history.back()" href="/home">Voltar</a>
            </div>
        </div>
    </div>
</body>
</html>