<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title></head>
<!--Titulo-->
<div th:replace="~{base :: logo3}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Consultar Transposição')}"></div>
<body>
    <div class="container d-flex justify-content-center form_container form-border">
        <div class="row">
            <div class="col-sm-12">
                <form th:action="${transposicao}" method="get">
                    <div class="form-group">
                        <div th:replace="~{alertas :: chordInvalid}"></div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="chord">Informe um acorde/nota</label>
                                <input type="text" th:value="${session.chord}" name="chord" id="chord" placeholder=" "  onfocus="this.value='';" class="form-control" required="">
                            </div>
                            <label for="semitone">Números de semitons</label>
                            <div class="col-sm-6 form-group">
                                <input type="number" th:value="${session.semitone}" name="semitone" id="semitone" placeholder=" " class="form-control" required="">
                            </div>
                            <div class="col-sm-6 form-group">
                                <button class="btn btn-primary" style="margin: 0" type="submit">Gerar Transposição</button>
                            </div>
                        </div>
                    </div>
                </form>
                <form th:action="${transposicao}" method="post">
                    <div class="form-group">
                        <label for="resultTransp">Resultado</label>
                        <a id="resultTransp" class="form-control" readonly th:text="${resultTransp}"></a>
                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" type="reset" onClick="history.back()" href="/home">Voltar</a>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="../../stylesheet/style.css"/>
</body>
</html>