<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title></head>
<!--Titulo-->
<div th:replace="~{base ::  logo3}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Consultar Tríade')}"></div>
<body>
    <div class="container d-flex justify-content-center form_container form-border">
        <div class="row">
            <div class="col-sm-12">
                <form th:action="${triade}" method="get">
                    <div class="form-group">
                        <div class="alert alert-danger titulo alert-dismissible" role="alert" th:if="${errorsTriade}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <a class="btn-close" data-bs-dismiss="alert"></a>
                            Acorde inválido!
                        </div>
                    <div class="row">
                        <label for="chord">Informe um acorde</label>
                        <div class="col-sm-6 form-group">
                            <input type="text" name="chord" id="chord" placeholder=" " class="form-control" required="">
                        </div>
                        <div class="col-sm-6 form-group">
                            <button class="btn btn-primary" type="submit">Gerar Tríade</button>
                        </div>
                    </div>
                </form>
                <form th:action="${triade}" method="post">
                        <label for="resultTriad">Resultado: </label>
                        <a id="resultTriad" class="form-control" readonly th:text="${resultTriad}"></a>
                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" type="reset" onClick="history.back()" href="/home">Voltar</a>
            </div>
        </div>
    </div>
</body>
</html>