.scrollButton {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: #F0000F;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    cursor: pointer;
    display: none;
}