<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title></head>
<!--Titulo-->
<div th:replace="~{base :: logo3}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Tétrade')}"></div>
<style>

</style>

<body>
    <div class="container form_container form-border">
        <h6>
            <div class="titulo">Formação de acorde de Tétrade</div>
            <span class="space"></span>
            <small class="text-muted">
                <ul class="list-unstyled">
                    <p>
                        <strong>Tétrades</strong> é formado por quatros notas agrupadas por intervalo de terças, ou seja, além das três notas da tríade basta apenas acrescentar
                        a nota do VII graus. Também é chamado de <em>acorde de sétima</em>.
                    </p>
                </ul>
            </small>
        </h6>
    </div>

    <span class="space"></span>
    <div class="container form_container form-border mb-3">
        <h6>
            <span class="space"></span>
            <small class="text-muted">
                <ul class="list-unstyled">
                    <div class="text-center">
                        <p>
                            <em>Fonte: Adaptado o conteúdo do lívro "Harmonia & Improvisação I" do autor Almir Chediak.</em>
                        </p>
                        <div class="align-items-center">
                            <span><button class="btn btn-link text-light mt-3"><a onClick="history.back()" class="text-primary">Voltar</a></button></span>
                        </div>
                    </div>
                </ul>
            </small>
        </h6>
    </div>
</body>
</html>