<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title></head>
<!--Titulo-->
<div th:replace="~{base :: logo3}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Tríade')}"></div>
<body>
    <div class="container form_container form-border">
        <h5>
            <div class="titulo">Formação de acorde de Tríade</div>
                <span class="space"></span>
            <small class="text-muted">
                <ul class="list-unstyled">
                    <p>
                        <strong>Tríade</strong> é formado por 3 notas agrupadas por intervalo de terças. Existem 4 tipos:
                    </p>
                        <ul>
                            <li>Tríade maior;</li>
                            <li>Tríade menor;</li>
                            <li>Tríade diminuta;</li>
                            <li>Tríade aumentada;</li>
                        </ul>
                        <span class="space"></span>
                    <p>
                        A formação das três notas, em graus, é composto por: I Graus (nota fundamental), III Graus (terça maior e terça menor)
                        e IV Graus (quinta justa, diminuta e aumentada).
                    </p>
                </ul>
            </small>
        </h5>
        <h5>
            <div class="titulo">Tríade maior</div>
                <span class="space"></span>
            <small class="text-muted">
                    <ul class="list-unstyled">
                        <p>
                            É formado por nota fundamental, <strong>terça maior</strong> e quinta justa. Por exemplo, para localizarmos as três notas
                            do acorde <strong>C</strong>,poderemos usar a escala de C, que identificamos o seguinte: C - E - G,
                            conforme a tabela abaixo:
                        </p>
                        <div class="d-flex justify-content-center">
                            <table class="table table-sm table-bordered table-info col-xs-8 col-md-8">
                                <thead>
                                <tr class="text-center">
                                    <th scope="col">Graus</th>
                                    <th scope="col" class="table-danger">I</th>
                                    <th scope="col"> </th>
                                    <th scope="col">II</th>
                                    <th scope="col"> </th>
                                    <th scope="col" class="table-danger">III</th>
                                    <th scope="col">IV</th>
                                    <th scope="col"> </th>
                                    <th scope="col" class="table-danger">V</th>
                                    <th scope="col"> </th>
                                    <th scope="col">VI</th>
                                    <th scope="col"> </th>
                                    <th scope="col">VII</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="text-center">
                                    <th scope="row">Notas</th>
                                    <td class="table-danger">C</td>
                                    <td>C# ou Db</td>
                                    <td>D</td>
                                    <td>D# ou Eb</td>
                                    <td class="table-danger">E</td>
                                    <td>F</td>
                                    <td>F# ou Gb</td>
                                    <td class="table-danger">G</td>
                                    <td>G# ou Ab</td>
                                    <td>A</td>
                                    <td>A# ou Bb</td>
                                    <td>B</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </ul>
            </small>
        </h5>
        <h5>
            <div class="titulo">Tríade menor</div>
            <span class="space"></span>
            <small class="text-muted">
                <ul class="list-unstyled">
                    <p>
                        Tríade menor é formado por nota fundamental, <strong>terça menor</strong> e quinta justa. Basta apenas diminuir
                        1 semiton na terça, usando o exemplo anterior, só que em <strong>Cm</strong> e é composto por notas: C - D# - G,
                        conforme a tabela abaixo:
                    </p>
                    <div class="d-flex justify-content-center">
                        <table class="table table-sm table-bordered table-info col-xs-8 col-md-8">
                            <thead>
                            <tr class="text-center">
                                <th scope="col">Graus</th>
                                <th scope="col" class="table-danger">I</th>
                                <th scope="col"> </th>
                                <th scope="col">II</th>
                                <th scope="col" class="table-danger"> </th>
                                <th scope="col">III</th>
                                <th scope="col">IV</th>
                                <th scope="col"> </th>
                                <th scope="col" class="table-danger">V</th>
                                <th scope="col"> </th>
                                <th scope="col">VI</th>
                                <th scope="col"> </th>
                                <th scope="col">VII</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center">
                                <th scope="row">Notas</th>
                                <td class="table-danger">C</td>
                                <td>C# ou Db</td>
                                <td>D</td>
                                <td class="table-danger">D# ou Eb</td>
                                <td>E</td>
                                <td>F</td>
                                <td>F# ou Gb</td>
                                <td class="table-danger">G</td>
                                <td>G# ou Ab</td>
                                <td>A</td>
                                <td>A# ou Bb</td>
                                <td>B</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </ul>
            </small>
        </h5>
        <h5>
            <div class="titulo">Tríade diminuta</div>
            <span class="space"></span>
            <small class="text-muted">
                <ul class="list-unstyled">
                    <p>
                        Tríade diminuta é formado por nota fundamental, <strong>terça menor</strong> e <strong>quinta diminuta</strong>.
                        Além de diminuir um semiton na terça, na quinta também é reduzido um semitom. Usando o mesmo exemplo,
                        só que em <strong>C°</strong> e é composto por notas: C - D# - F#, conforme a tabela abaixo:
                    </p>
                    <div class="d-flex justify-content-center">
                        <table class="table table-sm table-bordered table-info col-xs-8 col-md-8">
                            <thead>
                            <tr class="text-center">
                                <th scope="col">Graus</th>
                                <th scope="col" class="table-danger">I</th>
                                <th scope="col"> </th>
                                <th scope="col">II</th>
                                <th scope="col" class="table-danger"> </th>
                                <th scope="col">III</th>
                                <th scope="col">IV</th>
                                <th scope="col" class="table-danger"> </th>
                                <th scope="col">V</th>
                                <th scope="col"> </th>
                                <th scope="col">VI</th>
                                <th scope="col"> </th>
                                <th scope="col">VII</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center">
                                <th scope="row">Notas</th>
                                <td class="table-danger">C</td>
                                <td>C# ou Db</td>
                                <td>D</td>
                                <td class="table-danger">D# ou Eb</td>
                                <td>E</td>
                                <td>F</td>
                                <td class="table-danger">F# ou Gb</td>
                                <td>G</td>
                                <td>G# ou Ab</td>
                                <td>A</td>
                                <td>A# ou Bb</td>
                                <td>B</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </ul>
            </small>
        </h5>
        <h5>
            <div class="titulo">Tríade aumentada</div>
            <span class="space"></span>
            <small class="text-muted">
                <ul class="list-unstyled">
                    <p>
                        Tríade diminuta é formado por nota fundamental, <strong>terça maior</strong> e <strong>quinta aumentada</strong>.
                        A terça ficará maior, porém na quinta será aumentado em um semitom. Continuando com o mesmo exemplo,
                        só que em <strong>C(#5)</strong> e é composto por notas: C - E - G#, conforme a tabela abaixo:
                    </p>
                    <div class="d-flex justify-content-center">
                        <table class="table table-sm table-bordered table-info col-xs-8 col-md-8">
                            <thead>
                            <tr class="text-center">
                                <th scope="col">Graus</th>
                                <th scope="col" class="table-danger">I</th>
                                <th scope="col"> </th>
                                <th scope="col">II</th>
                                <th scope="col"> </th>
                                <th scope="col" class="table-danger">III</th>
                                <th scope="col">IV</th>
                                <th scope="col"> </th>
                                <th scope="col">V</th>
                                <th scope="col" class="table-danger"> </th>
                                <th scope="col">VI</th>
                                <th scope="col"> </th>
                                <th scope="col">VII</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center">
                                <th scope="row">Notas</th>
                                <td class="table-danger">C</td>
                                <td>C# ou Db</td>
                                <td>D</td>
                                <td>D# ou Eb</td>
                                <td class="table-danger">E</td>
                                <td>F</td>
                                <td>F# ou Gb</td>
                                <td>G</td>
                                <td class="table-danger">G# ou Ab</td>
                                <td>A</td>
                                <td>A# ou Bb</td>
                                <td>B</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </ul>
            </small>
        </h5>
    </div>
    <span class="space"></span>
    <div class="container form_container form-border mb-3">
        <h6>
            <span class="space"></span>
            <small class="text-muted">
                <ul class="list-unstyled">
                    <div class="text-center">
                        <p>
                            <em>Fonte: Adaptado o conteúdo do lívro "Harmonia & Improvisação I" do autor Almir Chediak.</em>
                        </p>
                        <div class="align-items-center">
                            <span><button class="btn btn-link text-light mt-3"><a onClick="history.back()" class="text-primary">Voltar</a></button></span>
                        </div>
                    </div>
                </ul>
            </small>
        </h6>
    </div>
</body>
</html>