<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title></head>
<!--Titulo-->
<div th:replace="~{base :: logo3}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Conceito Musical')}"></div>
<style>

</style>

<body>

  <div class="container">
    <div class="form_container form-border">
        <h6>
        <div class="justify-content-center">Título</div>
          <span class="space"></span>
        <small class="text-muted">Com texto secundário e mais apagado</small>
      </h6>
    </div>
  </div>

</body>
</html>

<!--https://getbootstrap.com.br/docs/4.1/content/typography/-->