<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title></head>
<!--Titulo-->
<div th:replace="~{base :: logo3}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Conceito Musical')}"></div>
<style>

</style>

<body>
    <div class="container form_container form-border">

        <h6>
            <div class="titulo">Notação Musical</div>
                <span class="space"></span>
            <small class="text-muted">
                <p>Existem sete notas musicais, conforme a sequência da escala de C:</p>
                <table class="table table-sm table-bordered table-info col-xs-12 col-md-6">
                    <thead>
                    <tr class="text-center">
                        <th scope="col">Graus</th>
                        <th scope="col">I</th>
                        <th scope="col">II</th>
                        <th scope="col">III</th>
                        <th scope="col">IV</th>
                        <th scope="col">V</th>
                        <th scope="col">VI</th>
                        <th scope="col">VII</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center">
                        <th scope="row">Notas</th>
                        <td>C</td>
                        <td>D</td>
                        <td>E</td>
                        <td>F</td>
                        <td>G</td>
                        <td>A</td>
                        <td>B</td>
                    </tr>
                    </tbody>
                </table>
                <p>Essa escala pode ser acrescentadas as notas de acidentes. Os símbolos são '#' (sustenido) e 'b' (bemol),
                   completando as 12 notas da escala (sete notas naturais e cinco notas alteradas), conforme a tabela abaixo,
                   ficaria assim:</p>
                <table class="table table-sm table-bordered table-info col-xs-12 col-md-12">
                    <thead>
                    <tr class="text-center">
                        <th scope="col">Graus</th>
                        <th scope="col">I</th>
                        <th scope="col">Nota de Acidente</th>
                        <th scope="col">II</th>
                        <th scope="col">Nota de Acidente</th>
                        <th scope="col">III</th>
                        <th scope="col">IV</th>
                        <th scope="col">Nota de Acidente</th>
                        <th scope="col">V</th>
                        <th scope="col">Nota de Acidente</th>
                        <th scope="col">VI</th>
                        <th scope="col">Nota de Acidente</th>
                        <th scope="col">VII</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center">
                        <th scope="row">Notas</th>
                        <td>C</td>
                        <td>C# ou Db</td>
                        <td>D</td>
                        <td>C# ou Eb</td>
                        <td>E</td>
                        <td>F</td>
                        <td>F# ou Gb</td>
                        <td>G</td>
                        <td>G# ou Ab</td>
                        <td>A</td>
                        <td>A# ou Bb</td>
                        <td>B</td>
                    </tr>
                    </tbody>
                </table>
                <p>O símbolo '#' (sustenido) eleva a nota em um semitom e, 'b' (bemol) abaixa em um semitom. Notas enarmônica
                é o mesmo que notas acidentais, porém é quando se tem nomes diferentes para um mesmo som.</p>
            </small>
        </h6>


        <h6>
            <div class="titulo">Braço de Violão</div>
                <span class="space"></span>
            <small class="text-muted">
                <ul class="list-unstyled">
                    <p>O braço de violão é composto por:</p>
                    <ul>
                        <li>6 cordas, notas solta são: Mi - Si - Sol - Ré - Lá - Mi;</li>
                        <li>Trastes, que fazem a divisão de casas;</li>
                        <li>Casas.</li>
                    </ul>
                </ul>
                <p>Abaixo representa braço de violão:</p>
                <div class="card-body text-center">
                    <figure>
                    <img src="image/Diagrama.jpg" class="w-25 rounded" alt="image">
                    </figure>
                </div>
            </small>
        </h6>

        <h6>
            <div class="titulo">Intervalo</div>
            <span class="space"></span>
            <small class="text-muted">
                <ul class="list-unstyled">
                    O intervalo é a distância entre as notas. O semitom é o menor intervalo entre as duas notas.
                    O tom é o intervalo formado por dois semitom. A imagem abaixo exemplifica como é formado
                    o intervalo:
                    <div class="card-body text-center">
                        <figure>
                            <img src="image/Intervalo.png" class="w-25 rounded" alt="image">
                        </figure>
                    </div>
                </ul>
            </small>
        </h6>



    </div>
<!--  </div>-->

</body>
</html>
<!--https://www.youtube.com/watch?v=ar9E_clXEa0-->
<!--https://www.youtube.com/watch?v=wvT_UNFTeqc-->
<!--https://www.youtube.com/watch?v=msyoRI3ZDGY-->

<!--https://getbootstrap.com.br/docs/4.1/content/typography/-->
<!--https://blog.opus3ensinomusical.com.br/teoria-musical-para-iniciantes/-->