<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title></head>
<!--Titulo-->
<div th:replace="~{base :: logo3}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Tríade')}"></div>
<body>
    <div class="container form_container form-border">
        <h6>
            <div class="titulo">Tríade</div>
            <span class="space"></span>
            <small class="text-muted">
                <p>Tríade é formado por três notas.</p>
            </small>
        </h6>
    </div>
    <span class="space"></span>
    <div class="container form_container form-border mb-3">
        <h6>
            <span class="space"></span>
            <small class="text-muted">
                <ul class="list-unstyled">
                    <div class="text-center">
                        <p><em>Fonte: Adaptado o conteúdo do lívro "Harmonia & Improvisação I" do autor Almir Chediak.</em></p>
                    </div>
                </ul>
            </small>
        </h6>
    </div>
</body>
</html>