<!DOCTYPE html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title></head>
<!--Titulo-->
<div th:replace="~{base :: logo1}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Cadastro de Conta')}"></div>
<!-- Formulário de cadastro -->
<body>
    <div class="container">
      <div class="d-flex justify-content-center form_container form-border">
        <form action="/cadastro/novo" method="POST">
            <div>
              <div class="form-group">
                <label class="control-label" for="nome">Nome <!--<h11>*</h11>--></label>
                <div class="col-md-15">
                  <input id="nome" name="nome" placeholder="Digite seu nome" class="form-control input-md" required="" type="text">
                </div>
              </div>
              <!--  E-mail-->
              <div class="form-group">
                <label class="control-label" for="email">Email <!--<h11>*</h11>--></label>
                <div class="col-md-15">
                  <div class="input-group">
                    <span class="input-group-addon"></span>
                    <input id="email" name="email" class="form-control rounded" placeholder="email@email.com" required="" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
                  </div>
                </div>
              </div>
              <!--Senha-->
              <div class="form-group">
                  <label class="control-label" for="senha">Senha<!--<h11>*</h11>--></label>
                  <div class="col-md-15">
                    <input id="senha" name="senha" placeholder="Digite sua senha" class="form-control input-md" required="" type="password" maxlength="10" onBlur="showhide()">
                  </div>
              </div>
              <!--Confirmar senha-->
              <div class="form-group">
                  <label class="control-label" for="confirmeSenha">Confirme a sua Senha<!--<h11>*</h11>--></label>
                  <div class="col-md-15">
                    <input id="confirmeSenha" name="confirmeSenha" placeholder="Confirme sua senha" class="form-control input-md" required="" type="password" maxlength="10" onBlur="showhide()">
                  </div>
              </div>
             <!--Button-->
<!--                <label class="control-label" for="cadastrar"></label>-->
<!--                  <label class="control-label" for="cancelar"></label>-->
                <div class="col-md-5">
                    <div class="btn-group mr-3">
                      <span class="space"></span>
                    <button id="cadastrar" name="cadastrar" class="btn btn-success rounded" type="Submit">Cadastrar</button>
                      <span class="space"></span>
                    <a href="/login"><button id="cancelar" name="cancelar" class="btn btn-danger rounded" type="Reset">Cancelar</button></a>
                      <span class="space"></span>
                    </div>
                </div>
            </div>
        </form>
      </div>
    </div>
</body>
</html>

<!--https://bootsnipp.com/snippets/kznOV-->