<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title></head>
<!--Titulo-->
<div th:replace="~{base :: logo3}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Aulas')}"></div>
<body>
    <div class="container form_container form-border">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <a href="aulas/moduloConceito"><button type="button" class="btn btn-info ribbon">Módulo Conceito Musical</button></a>
                <a href="aulas/moduloTriade"><button type="button" class="btn btn-info ribbon">Módulo Tríade</button></a>
                <a href="aulas/moduloTetrade"><button type="button" class="btn btn-info ribbon">Módulo Tétrade</button></a>
                <a href="aulas/moduloTransposicao"><button type="button" class="btn btn-info ribbon">Módulo Transposição</button></a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" type="reset" onClick="history.back()" href="/home">Voltar</a>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="../../stylesheet/style.css"/>
</body>