<!--Configuração de cabeçalho-->
<head th:fragment="head" xmlns:sec="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>MusicHarmony</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<!--Titulo logo1-->
<div th:fragment="logo1" class="logo-container mb-5 p-2 d-flex justify-content-between">
    <header class="titulo">
        <span class="logo">
           <figure>
               <img src="../img/musicHarmony1.jpg" class="w-25 rounded" alt="image">
           </figure>
       </span>
    </header>
</div>
<!--Titulo logo2-->
<div th:fragment="logo2" class="logo-container mb-5 p-2 d-flex justify-content-between">
    <span th:if="${session.userIsLogged}" class="navbar-brand">Olá, <a th:text="${session.userIsLogged.username}"></a>!</span>
   <header class="titulo">
        <span class="logo">
           <figure>
               <img src="../img/musicHarmony1.jpg" class="w-25 rounded" alt="image">
           </figure>
       </span>
    </header>
    <form th:action="@{logout}" method="post">
        <span class="mt-3">
            <button class="btn btn-link text-light mt-0" sec:authorize="isAuthenticated()" href="/login">Logout</button>
        </span>
    </form>
</div>
<!--Titulo logo3-->
<div th:fragment="logo3" class="logo-container mb-5 p-2 d-flex justify-content-between">
        <span th:if="${session.userIsLogged}" class="navbar-brand">Olá, <a th:text="${session.userIsLogged.username}"></a>!</span>
    <header class="titulo">
        <span class="logo">
           <figure>
               <img src="../img/musicHarmony1.jpg" class="w-25 rounded" alt="image">
           </figure>
       </span>
    </header>
    <form th:action="@{logout}" method="POST">
        <span class="mt-3">
             <button class="btn btn-link text-light mt-0" sec:authorize="isAuthenticated()" href="/login">Logout</button>
        </span>
    </form>
</div>
<!--Subtitulo-->
<div th:fragment="titulo(valor)">
    <header class="titulo">
            <span class="logo">
                <h4 th:text="${valor}"></h4>
            </span>
    </header>
</div>