<!DOCTYPE html>
<html lang="pt-BR">
<head th:fragment="head"><!--Configuração de cabeçalho-->
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <title>MusicHarmony</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    .logo-container {
      background-color: #4169E1;
      color: #FFFFFF;
    }
    .logo {
      font-family: 'Handlee', cursive;
      font-size: 2.5rem;
    }
    .titulo {
      width: 100%;
      text-align: center;
    }
    .form-border {
      width:100;
      border-radius: 25px;
      border: 2px solid #c0c0c0;
      padding: 20px;
    }
    .space {
      padding-left: 70px;
    }
    .subtitulo{
      width: 400%;
      text-align: right;
    }
  </style>
</head>
  <div th:fragment="logo" class="logo-container mb-3 p-3 d-flex justify-content-between">
      <header class="titulo"><!--Cabeçalho de Titulo-->
          <span class="logo">MusicHarmony</span>
      </header>
  </div>
<body>
    <div><!--SubTitulo-->
<!--        <header class="subtitulo">-->
<!--            <p class="col-md-3"><h11>*</h11> Campo Obrigatório</p>-->
<!--        </header>-->
        <header class="titulo">
            <span class="logo">
                <h4>Cadastro de Conta</h4>
            </span>
        </header>
    </div>
    <div class="container">
      <div class="d-flex justify-content-center form_container form-border">
        <form>
            <div>
              <div class="form-group">
                <label class="control-label" for="nome">Nome <!--<h11>*</h11>--></label>
                <div class="col-md-15">
                  <input id="nome" name="nome" placeholder="Digite seu nome" class="form-control input-md" required="" type="text">
                </div>
              </div>
              <!--  E-mail-->
              <div class="form-group">
                <label class="control-label" for="email">Email <!--<h11>*</h11>--></label>
                <div class="col-md-15">
                  <div class="input-group">
                    <span class="input-group-addon"></span>
                    <input id="email" name="email" class="form-control rounded" placeholder="email@email.com" required="" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
                  </div>
                </div>
              </div>
              <!--Senha-->
              <label class="control-label" for="senha">Senha<!--<h11>*</h11>--></label>
              <div class="col-md-15">
                <input id="senha" name="senha" placeholder="Digite sua senha" class="form-control input-md" required="" type="password" maxlength="10" onBlur="showhide()">
              </div>
              <!--Confirmar senha-->
              <label class="control-label" for="confirmeSenha">Confirme a sua Senha<!--<h11>*</h11>--></label>
              <div class="col-md-15">
                <input id="confirmeSenha" name="confirmeSenha" placeholder="Confirme sua senha" class="form-control input-md" required="" type="password" maxlength="10" onBlur="showhide()">
              </div>
             <!--Button-->
              <div class="form-group">
                <label class="control-label" for="cadastrar"></label>
                  <label class="control-label" for="cancelar"></label>
                <div class="col-md-8">
                    <div class="btn-group mr-5">
                      <span class="space"></span>
                    <button id="cadastrar" name="cadastrar" class="btn btn-success rounded" type="Submit">Cadastrar</button>
                      <span class="space"></span>
                    <button id="cancelar" name="cancelar" class="btn btn-danger rounded" type="Reset">Cancelar</button>
                      <span class="space"></span>
                    </div>
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
</body>
</html>

<!--https://bootsnipp.com/snippets/kznOV-->