<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title>
<!--    <link href="style.css" rel="stylesheet"/>-->
</head>
<!--Titulo-->
<div th:replace="~{base :: logo2}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('O que deseja fazer?')}"></div>
<body>
   <div class="container d-flex justify-content-center form_container form-border">
       <div class="row">
           <div class="col-md-6">
               <a href="aulas"><button type="button" class="btn btn-info ribbon">Aulas</button></a>
               <a href="consultas/triade"><button type="button" class="btn btn-info ribbon">Consultar Tríade</button></a>
               <a href="consultas/tetrade"><button type="button" class="btn btn-info ribbon">Consultar Tétrade</button></a>
           </div>
           <div class="col-md-6">
               <a href="consultas/transposicao"><button type="button" class="btn btn-info ribbon">Transposição de Acordes/Notas</button></a>
               <a href="questoes/questionarioUm"><button type="button" class="btn btn-info ribbon">Questionários</button></a>
               <a href="consultas/acordes"><button type="button" class="btn btn-info ribbon">Dicionário de Acordes</button></a>
           </div>
       </div>
   </div>
   <link rel="stylesheet" href="../../stylesheet/style.css"/>
</body>
</html>