<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title></head>
<!--Titulo-->
<div th:replace="~{base :: logo1}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Login')}"></div>
<!-- Formulário de login -->
<div class='alert alert-danger titulo' th:if="${param.error}">
	Usuário ou senha Inválido!
</div>
<div class='alert alert-sucess titulo' th:if="${param.sucess} ">
	Usuario cadastrado!
</div>
<div class="alert alert-warning titulo" th:if="${param.logout}">
	Você está desconectado!!
</div>
<body>
<div class="container h-100">
	<div class="d-flex justify-content-center h-100">
		<div class="user_card">
			<div class="d-flex justify-content-center form_container form-border">
				<form th:action="@{login}" method="post">
					<div class="mb-3">
						<label for="username" class="form-label"><span
								style="vertical-align: inherit;"><span
								style="vertical-align: inherit;">Seu Nome</span></span></label>
						<input name="username" class="form-control input-md" id="username" placeholder="Username">
					</div>
					<div class="mb-3">
						<label for="password" class="form-label"><span
								style="vertical-align: inherit;"><span
								style="vertical-align: inherit;">Sua Senha</span></span></label>
						<input type="password" class="form-control input-md" id="password" placeholder="Password">
					</div>
					<div class="mb-3">
						<div class="ui-button text-center" style="width: 18rem;">
							<div class="ui-button">
								<button class="btn btn-primary" type="submit">Login</button>
							</div>
						</div>
					</div>
					<a class="btn btn-link titulo" href="cadastro/formulario"><span style="vertical-align: inherit;"><span
							style="vertical-align: inherit;">Novo
						por aqui? </span><span style="vertical-align: inherit;">Cadastre-se</span></span></a>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
<!--</div>-->
<!--https://stackblitz.com/run?file=index.html-->
<!--https://getbootstrap.com/docs/5.2/forms/validation/-->
<!--https://getbootstrap.com/docs/5.2/forms/layout/#inline-forms-->
</html>


<!--https://celke.com.br/artigo/tabela-de-cores-html-nome-hexadecimal-rgb-->
