<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title></head>
<!--Titulo-->
<div th:replace="~{base :: logo1}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Login')}"></div>
<body >
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center form_container form-border">
					<form th:action="${login}" method="post">
						<div class="alert alert-danger titulo alert-dismissible" role="alert" th:if="${errors}">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
								<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
							</svg>
							<a class="btn-close" data-bs-dismiss="alert"></a>
								Usuário ou senha inválidos!
						</div>
						<div class="form-group">
							<label for="username">Seu Nome</label>
							<input name="username" class="form-control" id="username" placeholder="Username" required="">
						</div>
						<div class="form-group">
							<label for="password">Sua Senha</label>
							<input name="password" type="password" class="form-control input-md" id="password" placeholder="Password" required="">
						</div>
						<div class="ui-button text-center" style="width: 18rem;">
							<button class="btn btn-primary" type="submit">Login</button>
						</div>
						<a class="btn btn-link titulo" href="cadastro/formulario">Novo
							por aqui? Cadastre-se</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<!--https://stackblitz.com/run?file=index.html-->
<!--https://getbootstrap.com/docs/5.2/forms/validation/-->
<!--https://getbootstrap.com/docs/5.2/forms/layout/#inline-forms-->

<!--https://celke.com.br/artigo/tabela-de-cores-html-nome-hexadecimal-rgb-->


