<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title></head>
<!--Titulo-->
<div th:replace="~{base :: logo1}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Login')}"></div>
<!-- Formulário de login -->
<div class='alert alert-danger titulo' th:if="${param.error}">
	Usuário ou senha Inválido!
</div>
<div class='alert alert-sucess titulo' th:if="${param.sucess} ">
	Usuario cadastrado!
</div>
<div class="alert alert-warning titulo" th:if="${param.logout}">
	Você está desconectado!!
</div>
<body >
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center form_container form-border">
					<form action="home" method="post">
						<div class="form-group">
							<label for="username">Seu Nome</label>
							<input name="username" class="form-control" id="username" placeholder="Username">
						</div>
						<div class="form-group">
							<label for="password">Sua Senha</label>
							<input type="password" class="form-control input-md" id="password" placeholder="Password">
						</div>
						<div class="ui-button text-center" style="width: 18rem;">
							<button class="btn btn-primary" type="submit">Login</button>
						</div>
						<a class="btn btn-link titulo" href="cadastro/formulario">Novo
							por aqui? Cadastre-se</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
</div>
https://stackblitz.com/run?file=index.html
https://getbootstrap.com/docs/5.2/forms/validation/
https://getbootstrap.com/docs/5.2/forms/layout/#inline-forms

https://celke.com.br/artigo/tabela-de-cores-html-nome-hexadecimal-rgb


