<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title></head>
<!--Titulo-->
<div th:replace="~{base :: logo3}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Questionários')}"></div>
<body>
<div class="container d-flex justify-content-center form_container form-border">
    <div class="row">
        <h5>
            <small class="text-muted">
                <div th:replace="~{alertas :: wrong}"></div>
                <div th:replace="~{alertas :: gotItRight}"></div>
                <div>
                    Questão 2) Quantos semitons compreende em 3 tons?
                </div>
                <span class="space"></span>
                <!--/*@thymesVar id="selected" type="java"*/-->
                <form method="post" th:object="${selected}">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="option1" name="option1" class="custom-control-input" value="A" th:field="*{selected}">
                            <label class="custom-control-label" for="option1"> A) 2 semitons.</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="option2" name="option2" class="custom-control-input" value="[B]" th:field="*{selected}">
                            <label class="custom-control-label" for="option2"> B) 6 semitons.</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="option3" name="option3" class="custom-control-input" value="C" th:field="*{selected}">
                            <label class="custom-control-label" for="option3"> C) 3 semitons.</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="option4" name="option4" class="custom-control-input" value="D" th:field="*{selected}">
                            <label class="custom-control-label" for="option4"> D) 1 semitons.</label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success" type="submit">Confirmar Resposta</button>
                    </div>
                </form>
            </small>
            <form>
                <span class="space"></span>
                <div class="text-center">
                    <a class="btn btn-primary" onClick="history.back()" href="questionarioUm">Anterior</a>
                    <a href="questionarioTres"><button type="button" class="btn btn-primary">Próximo</button></a>
                </div>
            </form>
        </h5>
    </div>
</div>
<span class="space"></span>
<div class="container form_container form-border mb-3">
    <h6>
        <span class="space"></span>
        <small class="text-muted">
            <ul class="list-unstyled">
                <div class="text-center">
                    <p>
                        <em>
                            Fonte: Adaptado o conteúdo do artigo "Teoria Musical Lições Essenciais" do autor Luciano Alves.
                        </em>
                    </p>
                    <div class="align-items-center">
                        <span><button class="btn btn-link text-light mt-3"><a onClick="history.back()" class="text-primary" href="/home">Voltar</a></button></span>
                    </div>
                </div>
            </ul>
        </small>
    </h6>
</div>
<link rel="stylesheet" href="../../stylesheet/style.css"/>
</body>
</html>