<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}">
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <title></title>
</head>
<!--Titulo-->
<div th:replace="~{base :: logo3}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Questionários')}"></div>
<body>
    <div class="container d-flex justify-content-center form_container form-border">
        <div class="row">
            <h5>
                <small class="text-muted">
                    <div th:replace="~{alertas :: wrong}"></div>
                    <div th:replace="~{alertas :: gotItRight}"></div>
                    <div>
                        Questão 1) Quantas são as notas musicais naturais e quais?
                    </div>
                    <span class="space"></span>
                    <!--/*@thymesVar id="selected" type="java"*/-->
                    <form method="post" th:object="${selected}">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="option1" name="option1" class="custom-control-input" value="A" th:field="*{selected}">
                                <label class="custom-control-label" for="option1"> A) São 8 notas musicais: Dó, Ré, Mi, Fá, Sol, Lá, Si e Dó.</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="option2" name="option2" class="custom-control-input" value="B" th:field="*{selected}">
                                <label class="custom-control-label" for="option2"> B) São 12 notas musicais: Dó, Dó#, Ré, Ré#, Mi, Fá, Fá#, Sol, Sol#, Lá, Lá# e Si.</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="option3" name="option3" class="custom-control-input" value="[C]" th:field="*{selected}">
                                <label class="custom-control-label" for="option3"> C) São 7 notas musicais: Dó, Ré, Mi, Fá, Sol, Lá e Si.</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="option4" name="option4" class="custom-control-input" value="D" th:field="*{selected}">
                                <label class="custom-control-label" for="option4"> D) São 7 notas musicais: Dó#, Ré#, Mi, Fá#, Sol#, Lá# e Si.</label>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success" type="submit" >Confirmar Resposta</button>
                        </div>
                    </form>
                </small>
                <form>
                    <span class="space"></span>
                    <div class="text-center">
                        <a href="questionarioDois"><button type="button" class="btn btn-primary">Próximo</button></a>
                    </div>
                </form>
            </h5>
        </div>
    </div>
    <span class="space"></span>
    <div class="container form_container form-border mb-3">
        <h6>
            <span class="space"></span>
            <small class="text-muted">
                <ul class="list-unstyled">
                    <div class="text-center">
                        <p>
                            <em>
                                Fonte: Adaptado o conteúdo do artigo "Teoria Musical Lições Essenciais" do autor Luciano Alves.
                            </em>
                        </p>
                        <div class="align-items-center">
                            <span><button class="btn btn-link text-light mt-3"><a onClick="history.back()" class="text-primary" href="/home">Voltar</a></button></span>
                        </div>
                    </div>
                </ul>
            </small>
        </h6>
    </div>
</body>
</html>