<!doctype html>
<html lang="pt-BR">
<!--Configuração de cabeçalho-->
<head th:replace="~{base :: head}"><title></title></head>
<!--Titulo-->
<div th:replace="~{base :: logo3}"></div>
<!--Subtitulo-->
<div th:replace="~{base :: titulo('Questionários')}"></div>
<style>

</style>

<body>
    <div class="container">
        <div class="container d-flex justify-content-center form_container form-border">
            <div class="row">
                <div>
                    Questão 1)
                </div>
                <span class="space"></span>
                <form>
                    <div class="form-check">
                        <label>
                            <span class="label-text">A)</span> <input type="radio" name="radio">
                        </label>
                    </div>
                    <div class="form-check">
                        <label>
                            <span class="label-text">B)</span> <input type="radio" name="radio">
                        </label>
                    </div>
                    <div class="form-check">
                        <label>
                            <span class="label-text">C)</span> <input type="radio" name="radio">
                        </label>
                    </div>
                    <div class="form-check">
                        <label>
                            <span class="label-text">D)</span> <input type="radio" name="radio">
                        </label>
                    </div>
                </form>
                <form>
                    <span class="space"></span>
                    <div class="text-center">
                        <button class="btn btn-success" type="submit">Confirmar Resposta</button>
                    </div>
                    <span class="space"></span>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Próximo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>